@using AgroNepalTrade.Models;
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="RoleManager" asp-action="Index">Role Manager</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="UserRoles" asp-action="Index">User Roles</a></li>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Author"))
    {
        <li class="nav-item"><i class="fas fa-pen"></i><a class="nav-link" asp-area="" asp-controller="Blog" asp-action="CreateBlog">Create Blog</a></li>
        <li class="nav-item"><i class="fas fa-pen"></i><a class="nav-link" asp-area="" asp-controller="Author" asp-action="Index">View Blogs</a></li>

    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Farmer"))
    {
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Create">Add Products</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Farmer" asp-action="Index">Manage Products</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Manage Orders</a></li>

    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Cutomer"))
    {
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="RoleManager" asp-action="Index">Orders</a></li>
    }
</ul>
