@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>*@

<section class="vh-110" @*style="background-color: #9A616D;"*@>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="~/images/login.jpg"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form id="account" method="post">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h3 fw-bold mb-0">Sign into your account</span>
                                    </div>

                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-outline mb-4">
                                        <input class="form-control form-control-lg" asp-for="Input.Email" />
                                        <label class="form-label" asp-for="Input.Email"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        @*<input type="email" id="form2Example17" class="form-control form-control-lg" />
            <label class="form-label" for="form2Example17">Email address</label>*@
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input asp-for="Input.Password" class="form-control form-control-lg" />
                                        <label class="form-label" asp-for="Input.Password"></label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        @*  <input type="password" id="form2Example27" class="form-control form-control-lg" />
            <label class="form-label" for="form2Example27">Password</label>*@
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="Input.RememberMe">
                                                <input asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button type="submit" class="btn btn-dark btn-lg btn-block">Login</button>

                                    </div>
                                    <a class="small text-muted" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>


                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Don't have an account?
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color: #393f81;">Register as a new user</a>
                                    </p>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
