/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.comment-message{
    opacity: .75;
    line-height:1.7;
    font-size:1rem;
    margin-bottom: 0;
}
.comment-list{
    list-style-type:none;
    margin-top:20px;
}
.comment-top{
    padding-left:0;
}
.comment-date{
    color:#ccc !important;
    font-size:13px;
    letter-spacing: .1em;
    text-transform:uppercase;
}
.comment-body{
    line-height: 1.7;
    font-weight: 400;
}
    .comment-body p{
        margin-top:0;
    }

.commenter-name{
    font-size:20px;
}
.reply-btn {
    padding: 0px 10px 5px 0px !important;
    text-decoration:none;
    color:red;
    border:none;
}
.post-btn{
    padding:5px 10px 5px 10px !important;
    margin-top:10px;
}
.reply-btn:focus{
    outline: none;
    box-shadow:none;
}


header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

    header.masthead:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #212529;
        opacity: 0.5;
    }

    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        color: #fff;
    }

    header.masthead .page-heading,
    header.masthead .site-heading {
        text-align: center;
    }

        header.masthead .page-heading h1, header.masthead .page-heading .h1,
        header.masthead .site-heading h1,
        header.masthead .site-heading .h1 {
            font-size: 3rem;
        }

        header.masthead .page-heading .subheading,
        header.masthead .site-heading .subheading {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.1;
            display: block;
            margin-top: 0.625rem;
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }

    header.masthead .post-heading h1, header.masthead .post-heading .h1 {
        font-size: 2.25rem;
    }

    header.masthead .post-heading .meta,
    header.masthead .post-heading .subheading {
        line-height: 1.1;
        display: block;
    }

    header.masthead .post-heading .subheading {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.75rem 0 2rem;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    header.masthead .post-heading .meta {
        font-size: 1.25rem;
        font-weight: 300;
        font-style: italic;
        font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

        header.masthead .post-heading .meta a {
            color: #fff;
        }

@media (min-width: 992px) {
    header.masthead {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }

        header.masthead .page-heading h1, header.masthead .page-heading .h1,
        header.masthead .site-heading h1,
        header.masthead .site-heading .h1 {
            font-size: 5rem;
        }

        header.masthead .post-heading h1, header.masthead .post-heading .h1 {
            font-size: 3.5rem;
        }

        header.masthead .post-heading .subheading {
            font-size: 1.875rem;
        }
}

.section-heading {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 3.75rem;
}

.caption {
    font-size: 0.875rem;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 0.625rem;
    text-align: center;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}